*{padding:0;margin: 0;box-sizing: border-box;color: #715353;}
html{font-size: 13px;font-family: Tahoma,"微软雅黑"}
body{width:100vw;height: 85rem;}
body::-webkit-scrollbar{width:0 !important;}
ul,li{list-style: none;}
a{text-decoration: none;}

/* svg icon setup*/
.icon {
  width: 2.2rem; height: 2.2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 1280px * 1811px 
1280px = 91.5rem
1811px = 130rem*/

/* HEADER */
header{
  width:100%;
  height:16rem;
  background: #e1ccc9;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
}


header > .h1-wrapper > h1{
  letter-spacing: 1.6rem;
  color: #715353;
  font-size: 4rem;
  width:30rem;
  height:8rem;
  margin: 4rem auto;
  line-height: 8rem;
  text-align: center;
  background: #eee;
  position: relative;
}

header > .h1-wrapper > h1::before{
  content: "";
  position: absolute;
  height: 90%;
  width:97%;
  border:2px solid #dbb6b0;
  top: 3%;
  left: 1%;
}

header > .h1-wrapper > h1::after{
  content: '';
  position: absolute;
  width:15rem;
  border: 2px solid #dbb6b0;
  top:50%;
  left:100%;
}

header > .img-wrapper{
  width:12rem;
  height: 12rem;
  border-radius: 50%;
  border:0.5rem solid #dbb6b0;
  overflow: hidden;
  position: relative;
  align-self: center;
}

header > .img-wrapper > img{
  width:110%;
  position: absolute;
  top:-8%;
  left: -5%;
}

main{
  width:100%;
  height: 64rem;
  border:1px solid green;
  display: grid;
  grid-template-columns: 20% 20% 25% 15% 20%;
  grid-template-rows: 16rem 16rem 32rem;
  grid-template-areas: 
    "education education education basics basics"
    "skills skills skills skills ."
    "projects projects projects projects projects"
}

/* SECTION 1 - Education & basic info */
.education{
  grid-area: education;
  text-align: center;
}

.education > svg{
  vertical-align: middle;
  margin-right: 0.5rem;
}

.education > h2{
  display: inline-block;
  height:50%;
  padding-top: 4rem;
  color:#b38578;
}

.education > h2:nth-of-type(1){
  letter-spacing: 1rem;
  position: relative;
}

.education > h2:nth-of-type(1)::before{
  content:'';
  position: absolute;
  border:2px solid #e1ccc9;
  width:16rem;
  top:78%;
  left:-3px;
}

.education > h2:nth-of-type(2){
  font-size: 1.2rem;

}

.education > .educationDetails > #uoa{
  width:100%;
  display: grid;
  grid-template-columns: 20% 40% 15% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "uni major gpa time"
    "p p p p";
  grid-row-gap: 0.6rem;
  justify-items: start;
  padding-left: 4rem;
}

.education > .educationDetails > #uoa > span:nth-of-type(1){
  grid-area:uni;
  position: relative;
}

.education > .educationDetails > #uoa > span:nth-of-type(1)::before{
  content: '';
  position: absolute;
  border:0.5rem solid #e1ccc9;
  border-radius: 50%;
  left: -40%;
  top:15%;
}

.education > .educationDetails > #uoa > span:nth-of-type(2){
  grid-area:major;
}

.education > .educationDetails > #uoa > span:nth-of-type(3){
  grid-area:gpa;
  justify-self: center;
}

.education > .educationDetails > #uoa > span:nth-of-type(4){
  grid-area:time;
}

.education > .educationDetails > #uoa > p{
  grid-area: p;
}


.education > .educationDetails > #xmu{
  width:100%;
  display: grid;
  grid-template-columns: 20% 40% 15% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "uni major gpa time"
    "p p p p";
  grid-row-gap: 0.6rem;
  margin-top: 0.8rem;
  justify-items: start;
  padding-left: 4rem;
}

.education > .educationDetails > #xmu > span:nth-of-type(1){
  grid-area:uni;
  position: relative;
}

.education > .educationDetails > #xmu > span:nth-of-type(1)::before{
  content: '';
  position: absolute;
  border:0.5rem solid #e1ccc9;
  border-radius: 50%;
  left: -50%;
}

.education > .educationDetails > #xmu > span:nth-of-type(2){
  grid-area:major;
}

.education > .educationDetails > #xmu > span:nth-of-type(3){
  grid-area:gpa;
  justify-self: center;
}

.education > .educationDetails > #xmu > span:nth-of-type(4){
  grid-area:time;
}

.education > .educationDetails > #xmu > p{
  grid-area: p;
}

.basics{
  grid-area: basics;
}

/* SECTION 2 - skills */
.skills{
  grid-area:skills;
}

/* SECTION 3 - projects */
.projects{
  grid-area:projects;
}



@media (max-width:595px){ /*a4 size:595px * 842px */
  .test{
    width:10rem;
    height:20rem;
    border:1px solid green;
  }
}
