*{padding:0;margin: 0;box-sizing: border-box;color: #715353;}
html{font-size: 13px;font-family: Tahoma,"微软雅黑"}
body{width:100vw;height: 85rem;}
body::-webkit-scrollbar{width:0 !important;}
ul,li{list-style: none;}
a{text-decoration: none;}

/* svg icon setup*/
.icon {
  width: 2.2rem; height: 2.2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 1280px * 1811px 
1280px = 91.5rem
1811px = 130rem*/

/* HEADER */
header{
  width:100%;
  height:16rem;
  background: #e1ccc9;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
}


header > .h1-wrapper > h1{
  letter-spacing: 1.6rem;
  color: #715353;
  font-size: 4rem;
  width:30rem;
  height:8rem;
  margin: 4rem auto;
  line-height: 8rem;
  text-align: center;
  background: #eee;
  position: relative;
}

header > .h1-wrapper > h1::before{
  content: "";
  position: absolute;
  height: 90%;
  width:97%;
  border:2px solid #dbb6b0;
  top: 3%;
  left: 1%;
}

header > .h1-wrapper > h1::after{
  content: '';
  position: absolute;
  width:15rem;
  border: 2px solid #dbb6b0;
  top:50%;
  left:100%;
}

header > .img-wrapper{
  width:12rem;
  height: 12rem;
  border-radius: 50%;
  border:0.5rem solid #dbb6b0;
  overflow: hidden;
  position: relative;
  align-self: center;
}

header > .img-wrapper > img{
  width:110%;
  position: absolute;
  top:-8%;
  left: -5%;
}

/* MAIN */
main{
  width:100%;
  height: 68rem;
  display: grid;
  grid-template-columns: 20% 20% 25% 15% 20%;
  grid-template-rows: 16rem 4rem 12rem 36rem;
  grid-template-areas: 
    "education education education basics basics"
    "skillHead skillHead skillHead skillHead skillHead"
    "skillVis skillVis skills skills skills"
    "projects projects projects projects projects"
}

/* SECTION 1 - Education & basic info */
.education{
  grid-area: education;
  text-align: center;
}

.education > svg{
  vertical-align: middle;
  margin-right: 0.5rem;
}

.education > h2{
  display: inline-block;
  height:50%;
  padding-top: 4rem;
  color:#b38578;
}

.education > h2:nth-of-type(1){
  letter-spacing: 1rem;
  position: relative;
}

.education > h2:nth-of-type(1)::before{
  content:'';
  position: absolute;
  border:2px solid #e1ccc9;
  width:16rem;
  top:78%;
  left:-3px;
}

.education > h2:nth-of-type(2){
  font-size: 1.2rem;
}

.education > .educationDetails > #uoa{
  width:100%;
  display: grid;
  grid-template-columns: 20% 40% 15% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "uni major gpa time"
    "p p p p";
  grid-row-gap: 0.6rem;
  justify-items: start;
  padding-left: 4rem;
}

.education > .educationDetails > #uoa > span:nth-of-type(1){
  grid-area:uni;
  position: relative;
}

.education > .educationDetails > #uoa > span:nth-of-type(1)::before{
  content: '';
  position: absolute;
  border:0.5rem solid #e1ccc9;
  border-radius: 50%;
  left: -40%;
  top:15%;
}

.education > .educationDetails > #uoa > span:nth-of-type(2){
  grid-area:major;
}

.education > .educationDetails > #uoa > span:nth-of-type(3){
  grid-area:gpa;
  justify-self: center;
}

.education > .educationDetails > #uoa > span:nth-of-type(4){
  grid-area:time;
}

.education > .educationDetails > #uoa > p{
  grid-area: p;
}


.education > .educationDetails > #xmu{
  width:100%;
  display: grid;
  grid-template-columns: 20% 40% 15% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "uni major gpa time"
    "p p p p";
  grid-row-gap: 0.6rem;
  margin-top: 0.8rem;
  justify-items: start;
  padding-left: 4rem;
}

.education > .educationDetails > #xmu > span:nth-of-type(1){
  grid-area:uni;
  position: relative;
}

.education > .educationDetails > #xmu > span:nth-of-type(1)::before{
  content: '';
  position: absolute;
  border:0.5rem solid #e1ccc9;
  border-radius: 50%;
  left: -50%;
}

.education > .educationDetails > #xmu > span:nth-of-type(2){
  grid-area:major;
}

.education > .educationDetails > #xmu > span:nth-of-type(3){
  grid-area:gpa;
  justify-self: center;
}

.education > .educationDetails > #xmu > span:nth-of-type(4){
  grid-area:time;
}

.education > .educationDetails > #xmu > p{
  grid-area: p;
}


/* SECTION 1 - basics */
.basics{
  grid-area: basics;
  position: relative;
}

.basics::before{
  content: '';
  position: absolute;
  border:1px solid #e1ccc9;
  height: 16rem;
  left:10%;
}

.basics > #basics {
  margin:5rem 0 0 7rem;
  position: relative;
}

.basics > #basics > li{
  margin-bottom: 1rem;
  position: relative;
}

.basics > #basics > li::before{
  border:1px dashed #e1ccc975;
  content: '';
  position: absolute;
  top:1.7rem;
  left:0;
  width:80%;
}

.basics > #basics > svg:nth-of-type(1){
  position: absolute;
  top: -0.7rem;
  left: 70%;
}

.basics > #basics > svg:nth-of-type(2){
  position: absolute;
  top: 1.7rem;
  left: 70%;
}

.basics > #basics > svg:nth-of-type(3){
  position: absolute;
  top: 4rem;
  left: 71%;
}

.basics > #basics > svg:nth-of-type(4){
  position: absolute;
  top: 6.5rem;
  left: 72.5%;
  width: 1.8rem;
  height: 1.8rem;
}

.basics > #basics > svg:nth-of-type(5){
  position: absolute;
  top: 8.9rem;
  left: 73%;
  width: 1.7rem;
  height: 1.7rem;
}
/* SECTION 2 - skills */
.skillHead{
  grid-area: skillHead;
  display: inline-block;
  letter-spacing: 1rem;
  justify-self: center;
  align-self: end;
  color:#fff;
  background:#e1ccc9;
  padding: 0.8rem 1.5rem;
  position: relative;
}

.skillHead::before{
  content:'';
  width:100%;
  position: absolute;
  border:1px solid #d7d5d6;
  left: -100%;
  top:50%;
}

.skillHead::after{
  content:'';
  height:50%;
  position: absolute;
  border:1px solid #d7d5d6;
  left: -100%;
  top:50%;
}

.skillHead > span{
  letter-spacing: 0;
  font-size: 1.2rem;
  color:#fff;
  background:#e1ccc9;
}

.skillHead > span::before{
  content:'';
  width:100%;
  position: absolute;
  border:1px solid #d7d5d6;
  right: -100%;
  top:50%;
}

.skillHead > span::after{
  content:'';
  height:50%;
  position: absolute;
  border:1px solid #d7d5d6;
  right: -100%;
  top:50%;
}

.skillVis{
  grid-area: skillVis;
  position: relative;
  padding: 2rem 1rem 0 20%;
}

.skillVis > h3{
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.skillVis > div{
  width:60%;
  height: 0.4rem;
  background:#e1ccc9;
  border-radius: 10px;
  margin-bottom: 0.6rem;
  position: relative;
}

.skillVis > div:nth-of-type(1)::before{ /* HTML & CSS */
  position: absolute;
  content:'';
  height: 0.4rem;
  border-radius: 10px;
  width: 80%;
  background: #b38578;
}

.skillVis > div:nth-of-type(2)::before{ /* js */
  position: absolute;
  content:'';
  height: 0.4rem;
  border-radius: 10px;
  width: 75%;
  background: #b38578;
}

.skillVis > div:nth-of-type(3)::before{ /* vue.js */
  position: absolute;
  content:'';
  height: 0.4rem;
  border-radius: 10px;
  width: 45%;
  background: #b38578;
}

.skillVis > div:nth-of-type(4)::before{ /* jQuery */
  position: absolute;
  content:'';
  height: 0.4rem;
  border-radius: 10px;
  width: 60%;
  background: #b38578;
}

.skills{
  grid-area:skills;
  padding-top: 2rem;
}

.skills > p{
  margin-bottom: 0.8rem;
  margin-left: -10%;
  margin-right: 5%;
  position: relative;
}

.skills > p::before{
  content: '';
  position: absolute;
  border:0.3rem solid #e1ccc9;
  border-radius: 50%;
  left: -4%;
  top:20%;
}

/* SECTION 3 - projects */
.projects{
  grid-area:projects;
  display: grid;
  grid-template-columns: repeat(3,33.333%);
  grid-template-rows: 4rem 12rem 10rem 10rem;
  grid-template-areas: 
    ". heading ."
    "pro1 descr1 descr1"
    "pro2 descr2 descr2"
    "pro3 descr3 descr3";

}

.projects > .heading{
  grid-area: heading;
  position: relative;
  text-align: center;
}

.projects > .heading> .icon{
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 37%;
}

.projects > .heading > h2{
  display: inline-block;
  color:#fff;
  background:#e1ccc9;
  padding: 0.8rem 3rem 0.8rem 5rem;
  letter-spacing: 1rem;
  margin-top: 0.8rem;
  position: relative;
}


.projects > .heading > h2::before{
  content:'';
  width:87%;
  position: absolute;
  border:1px solid #d7d5d6;
  left: -87%;
  top:50%;
}

.projects > .heading > h2::after{
  content:'';
  height:50%;
  position: absolute;
  border:1px solid #d7d5d6;
  left: -87%;
  top:50%;
}

.projects > .heading > h2 > span{
  font-size: 1.2rem;
  letter-spacing: 0;
  color:#fff;
}

.projects > .heading > h2 > span::before{
  content:'';
  width:87%;
  position: absolute;
  border:1px solid #d7d5d6;
  right: -87%;
  top:50%;
}

.projects > .heading > h2 > span::after{
  content:'';
  height:50%;
  position: absolute;
  border:1px solid #d7d5d6;
  right: -87%;
  top:50%;
}

/* FIRST PROJECT */
.projects > .proName.project1{
  grid-area: pro1;
  text-align: center;
}

.projects > .proName.project1 > h3{
  font-size: 1rem;
  margin: 1rem auto;

}

.projects > .proName.project1 > p{
  margin: 0.7rem 0;
}

.projects > .proName.project1 > p a{
  color:#b38578;
  padding-left: 1rem;
}

.projects > .proName.project1 > .comment{
  font-size: 0.8rem;
  color: #dbb6b0;
  padding: 0 1rem;
}

.projects > .proName.project1 > .comment > em{
  color: #dbb6b0;
}

.projects > .description.project1{
  grid-area: descr1;
  padding: 1rem 1rem 0 2rem;
}

.projects > .description.project1 > p{
  line-height: 1.7rem;
  margin-top: 0.8rem;
}

.projects > .proName.project2::before{ /*divider*/
  position: absolute;
  content: '';
  width:90%;
  left:10%;
  top: -5%;
  border:1px dashed #e1ccc9;
}

.projects > .description.project2::before{ /*divider*/
  position: absolute;
  content: '';
  width:90%;
  right:10%;
  top: -5%;
  border:1px dashed #e1ccc9;
}

/* SECOND PROJECT */

.projects > .proName.project2{
  grid-area: pro2;
  position: relative;
  text-align: center;
}

.projects > .proName.project2 > h3{
  font-size: 1rem;
  margin: 2rem auto 1rem auto;
}

.projects > .proName.project2 > p{
  margin: 0.7rem 0;
}

.projects > .proName.project2 > p a{
  color:#b38578;
  padding-left: 1rem;
}

.projects > .description.project2{
  grid-area: descr2;
  padding: 1rem 1rem 0 2rem;
  position: relative;
}

.projects > .description.project2 > p{
  line-height: 1.7rem;
  margin-top: 0.8rem;
}

.projects > .proName.project3::before{ /*divider*/
  position: absolute;
  content: '';
  width:90%;
  left:10%;
  top: -5%;
  border:1px dashed #e1ccc9;
}

.projects > .description.project3::before{ /*divider*/
  position: absolute;
  content: '';
  width:90%;
  right:10%;
  top: -5%;
  border:1px dashed #e1ccc9;
}

/* THIRD PROJECT */
.projects > .proName.project3{
  grid-area: pro3;
  position: relative;
  text-align: center;
}

.projects > .proName.project3 > h3{
  font-size: 1rem;
  margin: 2rem auto 1rem auto;
}

.projects > .proName.project3 > p{
  margin: 0.7rem 0;
}

.projects > .proName.project3 > p a{
  color:#b38578;
  padding-left: 1rem;
}

.projects > .description.project3{
  grid-area: descr3;
  padding: 1rem 1rem 0 2rem;
  position: relative;
}

.projects > .description.project3 > p{
  line-height: 1.7rem;
  margin-top: 0.8rem;
}

/* FOOTER */
footer{
  width: 100%;
  background: #e1ccc9;
  font-size: 0.6rem;
  text-align: center;
  color: #715353;
  height: 2.2rem;
  line-height: 2.2rem;
}
