<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <title>翁倩怡的简历</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/vue.min.js"></script>
  <script src="//at.alicdn.com/t/font_1053952_0ws9ffwwvran.js"></script>
</head>

<body>
  <header>
    <div class="h1-wrapper">
      <h1>翁倩怡<p>意向：Web前端开发</p>
      </h1>
    </div>
    <div class="img-wrapper">
      <img src="./img/profilePic.jpg" alt="照片">
    </div>
  </header>
  <main>
    <section class="education">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-education"></use>
      </svg>
      <h2>教育经历</h2>
      <h2>Education</h2>
      <div class="educationDetails">
        <div id="uoa" class="uni">
          <span><strong>{{uoa.uni}}</strong></span>
          <span>{{uoa.major}}</span>
          <span>{{uoa.gpa}}</span>
          <span>{{uoa.time}}</span>
          <p>专业成绩前<strong>10%</strong>，是国际性荣誉商学组织<strong>Beta Gamma Sigma</strong>的终身会员</p>

        </div>
        <div id="xmu" class="uni">
          <span><strong>{{xmu.uni}}</strong>(未完成)</span>
          <span>{{xmu.major}}</span>
          <span>{{xmu.gpa}}</span>
          <span>{{xmu.time}}</span>
          <p>2015年法语专业四级考试全级第一</p>
        </div>
      </div>
    </section>
    <div class="basics">
      <ul id="basics">
        <li v-for="value in basics">
          {{value}}
        </li>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-shengri"></use>
        </svg>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-nv"></use>
        </svg>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-shouji"></use>
        </svg>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-mail"></use>
        </svg>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-minzhengxinxi-kunnandangyuan"></use>
        </svg>
      </ul>

    </div>
    <h2 class="skillHead">专业技能<span>Skills</span></h2>
    <section class="skillVis">
      <h3>HTML 5 &amp; CSS 3</h3>
      <div class="progress"></div>
      <h3>JavaScript, JQuery</h3>
      <div class="progress"></div>
      <h3>Vue.js</h3>
      <div class="progress"></div>
      <h3>React Native</h3>
      <div class="progress"></div>
    </section>
    <section class="skills">
      <p>
        熟练掌握<strong>HTML(5)、CSS(3)</strong>和<strong>JavaScript(ES6)</strong>等前端技术，如HTML5语义化标签运用，<strong>箭头函数、Promise、async/await进行异步操作</strong>，CSS3媒体查询、动画和<strong>Grid布局</strong>等
      </p>
      <p>熟练<strong>Vue.js</strong>和<strong>ReactJS</strong>前端框架，熟练使用<strong>jQuery</strong></p>
      <p>熟练使用<strong>React Native</strong>开发app，结合XCode进行<strong>iOS</strong> app开发</p>
      <!-- <p>使用原生JS实现动态响应网页和较复杂功能，熟悉并实践<strong>MVC设计模式</strong></p> -->
      <p>熟悉<strong>移动端开发</strong>，实现响应式布局，了解HTTP基础和Node.js后端基础知识</p>
    </section>
    <section class="projects">
      <div class="heading">
        <h2>项目<span>Projects</span></h2>
      </div>
      <div class="proName project1">
        <h3>Vue.js实现CNode社区</h3>
        <p v-bind:style="pro_style_p"><a href="https://alisonysy.github.io/vuecnode/" target="_blank"
            v-bind:style="pro_style_a">Demo(点我)</a></p>
        <p v-bind:style="pro_style_p"><a href="https://github.com/alisonysy/vuecnode" target="_blank"
            v-bind:style="pro_style_a">GitHub源码(点我)</a></p>
      </div>
      <div class="description project1">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          利用CNode社区提供的API，使用<strong>Vue-CLI
            3</strong>手脚架、Vue组件、<strong>Vue-router</strong>搭建仿CNode社区项目。使用<strong>Axios</strong>发送网页数据请求，运用CSS 3的 SVG 和
          filter，与Vue.js transition结合重新布局。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          Vue.js(Vue-CLI 3, Vue-router)+ Axios + JavaScript(ES6) + CSS 3
        </p>
      </div>
      <div class="proName project2">
        <h3 v-bind:style="pro_style_h3">在线音乐播放APP</h3>
        <!--<p class="comment" v-bind:style="pro_style_p"><em>备注：</em>项目开发阶段是利用Node.js搭建本地服务器进行接口对接和页面渲染模拟，请点击下面GitHub源码查看搭建本地服务器</p>-->
        <p v-bind:style="pro_style_p"><a href="https://github.com/alisonysy/mockup163" target="_blank"
            v-bind:style="pro_style_a">GitHub源码和Demo(点我)</a></p>
        <p v-bind:style="pro_style_p"><a target="_blank"
            href="https://github.com/alisonysy/alison_resume/blob/master/src/img/app-demo.mp4" download
            v-bind:style="pro_style_a">Demo小视频(点我)</a></p>
      </div>
      <div class="description project2" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          模拟一个<strong>手机</strong>音乐APP在线播放页面，包含PC端的歌曲上传和管理页面。用户端有歌单、最新歌曲、热歌榜界面(内置Counter)，以及搜索功能(Debouncing)，能在线听音乐，查看滚动播放歌词等。本项目是通过七牛云、LeanCloud数据库储存上传的音乐文件和相关信息。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          JavaScript(ES6) + JQuery + HTML + CSS + 七牛云 + LeanCloud
        </p>
      </div>
      <div class="proName project3">
        <h3 v-bind:style="pro_style_h3">快捷导航页面</h3>
        <p v-bind:style="pro_style_p"><a href="https://alisonysy.github.io/practice-project/nav-demo/index.html"
            target="_blank" v-bind:style="pro_style_a">Demo链接(点我)</a></p>
        <p v-bind:style="pro_style_p"><a href="https://github.com/alisonysy/practice-project/tree/master/nav-demo"
            target="_blank" v-bind:style="pro_style_a">GitHub源码(点我)</a></p>
      </div>
      <div class="description project3" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          用户可自定义的快捷导航页，模拟键盘界面，按下对应的键盘键自动打开新标签页并跳转到目标网站。
          用户可点击每个快捷按键右下方的E添加/覆盖自定义网站。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          JavaScript(e.g. WebAPI、事件监听) + HTML + CSS
        </p>
      </div>
      <div class="proName project4">
        <h3 v-bind:style="pro_style_h3">个人简历网站模板</h3>
        <p v-bind:style="pro_style_p"><a href="https://alisonysy.github.io/practice-project/index.html" target="_blank"
            v-bind:style="pro_style_a">Demo链接(点我)</a></p>
        <p v-bind:style="pro_style_p"><a href="https://github.com/alisonysy/practice-project" target="_blank"
            v-bind:style="pro_style_a">GitHub源码(点我)</a></p>
      </div>
      <div class="description project4" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          一个个人简历动态网站，包含基本信息、技能、作品集、实时留言功能等4个模块。实现置顶菜单栏下拉悬浮，
          模块点击切换动态效果，利用异步操作实现实时留言功能。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          JavaScript + HTML + CSS + Swiper库 + Tween库
        </p>
      </div>
      <div class="proName project5">
        <h3 v-bind:style="pro_style_h3">在线画板</h3>
        <p v-bind:style="pro_style_p"><a href="https://alisonysy.github.io/practice-project/canvas/canvas.html"
            target="_blank" v-bind:style="pro_style_a">Demo链接(点我)</a></p>
        <p v-bind:style="pro_style_p"><a href="https://github.com/alisonysy/practice-project/tree/master/canvas"
            target="_blank" v-bind:style="pro_style_a">GitHub源码(点我)</a></p>
      </div>
      <div class="description project5" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          一个在线的画板。用户可以选择画笔的颜色、粗细，使用鼠标或手机端触屏写备注或画画，
          可以使用橡皮擦或整个页面清除，也可点击保存下载自己的作品。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          原生JavaScript + HTML + CSS + DOM事件监听
        </p>
      </div>
      <div class="proName project6">
        <h3 v-bind:style="pro_style_h3">Tableau-<br>青少年自杀数据可视化</h3>
        <p v-bind:style="pro_style_p"><a target="_blank"
            href="https://public.tableau.com/views/Group1392WORKBOOKV2_0-Alison/FINAL?:embed=y&:display_count=yes"
            v-bind:style="pro_style_a">Tableau展示链接</a></p>
      </div>
      <div class="description project6" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          此作品为奥克兰大学数据可视化课程的小组作业，通过数据展示新西兰青少年自杀现状、与其他国家对比，
          再深入挖掘新西兰政府对该社会问题的态度和投入，最后呼吁大家从身边事做起，让青少年健康成长。本人全程
          参与数据搜集，负责第二部分自残率和第五部分政府的青少年心理健康计划的可视化。
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          Tableau
        </p>
      </div>
      <div class="proName project7">
        <h3 v-bind:style="pro_style_h3">智能家居app</h3>
        <p v-bind:style="pro_style_p"><a target="_blank"
            href="https://apps.apple.com/us/app/pitaka/id1312735288"
            v-bind:style="pro_style_a">App在App Store(iOS)链接</a></p>
      </div>
      <div class="description project7" v-bind:style="pro_style_descr">
        <p v-bind:style="pro_style_descr_p">
          <strong>描述：</strong>
          目前为管理智能磁吸充电座的平台，通过请求和渲染后台数据，为用户提供管理、操作智能硬件的界面，如查看
        </p>
        <p v-bind:style="pro_style_descr_p">
          <strong>实现技术：</strong>
          Tableau
        </p>
      </div>
      <div class="tbc">To Be Continued Next Page</div>
    </section>
    <section class="internship">
      <div class="heading">
        <h2>实习经历<span>Internship</span></h2>
      </div>
      <span class="intern_h1_1"><strong>{{company.jd}}</strong></span><span
        class="intern_h1_2">{{position.jd}}</span><span class="intern_h1_3">{{time.jd}}</span>
      <ul class="intern_d1">
        <li v-for="value in descr_jd">
          {{value}}
        </li>
      </ul>
      <span class="intern_h2_1"><strong>{{company.ag}}</strong></span><span
        class="intern_h2_2">{{position.ag}}</span><span class="intern_h2_3">{{time.ag}}</span>
      <ul class="intern_d2">
        <li v-for="value in descr_ag">
          {{value}}
        </li>
      </ul>
      <span class="intern_h3_1"><strong>{{company.yt}}</strong></span><span
        class="intern_h3_2">{{position.yt}}</span><span class="intern_h3_3">{{time.yt}}</span>
      <ul class="intern_d3">
        <li v-for="value in descr_yt">
          {{value}}
        </li>
      </ul>
    </section>
  </main>
  <footer>Copyright 2019. 本简历制作源码: <a
      href="https://github.com/alisonysy/alison_resume">https://github.com/alisonysy/alison_resume</a>.
    All Rights Reserved.</footer>
  <script src="./js/main.js"></script>

</body>

</html>